.background {
    background-color: #ceb9c9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .manette {
    
    background: linear-gradient( rgba(189, 128, 128, 0),rgba(247, 0, 255, 0.5));
    border: 2px solid #000;
    border-radius: 20px; 
    padding: 40px; 
    box-shadow: 0px 0px 50px rgba(168, 16, 173, 0.5);
    text-align: center; 
  }
  .HautManette {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
  }
  .OnOrOff {
    width: 40px; 
    height: 40px; 
    background-color: red;
    border-radius: 50%;
  }
  .Mute {
    margin-left: 50px; 
  }
  .start {
    background-color: #86c5a8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px; 
  }
  .sound-controls {
    width: 50%;
    padding-right: 15px;
  }
  .Sound, .Change {
    margin-top: 20px;
  }
  .Sound button, .Change button {
    width: 40px;
    height: 40px;
    font-size: 20px;
  
  }