.body-container{
    background: linear-gradient(rgb(189, 184, 184), rgb(210, 157, 235));

    width: 250px;
    height: 500px;

    margin: 150px auto;

    padding-left: 10px;

    border-radius: 10px;
    
    
}

.power-on button{
    height: 40px;
    width: fit-content;

    margin-top: 10px;
    margin-bottom: 20px;

    border-radius: 10px;
    font-size: 20px;
}

button:hover{
    background-color: rgb(210, 157, 235);
}

.start{
    font-size: 25px;
    border-radius: 50%;
    margin-left: 42%;
    margin-bottom: 100px;
}

.play-pause-container{
    margin: 0 auto;
    width: fit-content;
}

.play-pause{
    height: 35px;

    margin-bottom: 100px;
}

.start:active{
    border: 1px solid black;
}

.controls{
    display: flex;
    flex-direction: row;

    width: fit-content;
    margin: 0 auto;
}

.sound, .video-control{

    display: flex;
    flex-direction: column;

}

.sound{
    margin-right: 40px;
}

.sound button, .video-control button{
    height: 50px;
    width: 40px;
}

.controls #currentVolumeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* https://stackoverflow.com/questions/14859322/css3-spin-animation source */

.spinning button {
    animation: spin 2s linear infinite;
  }
  
.connected button {
    animation: spin 2s linear;
    background-color: green; 
}